{% extends "layout.html" %}
{% block body %}

    <div class="jumbotron">
      <div class="container">
        <h1>Вот это да</h1>
        <ul>
        <li> <h3>Можно посылать и шифрованные, и нешифрованные сообщения</h3></li>
        <li><h3> Сообщения сначала шифруются <a href="http://pastebin.com/embed_iframe.php?i=6vWKMMej">этим</a>, а потом еще и RSA.  </h3> </li>
        <li> <h3>Нельзя узнать даже свой собственный приватный ключ </h3> </li>
        <li><h3> Пользователь "bender" кликает на все ссылки, которые приходят ему в нешифрованных сообщениях и ведут обратно на этот сайт.  </h3> </li>
        <li><h3> При регистрации можно написать свой самый секретный секрет, а потом посылать его кому угодно в зашифрованном виде одной кнопкой </h3> </li>
        </ul>

      </div>
    </div>
{% endblock %}
