{% from "_formhelpers.html" import render_field, render_submit %}
{% extends "layout.html" %}
{% block body %}
<form method=post class=form-horizontal>
  <div class="form-group">
    <div class="col-sm-2 control-label"> Recovery question </div>
    <div class="col-sm-10">
      {{ user.recovery_question }}
    </div>

  </div>


    {{ render_field(form.recovery_answer) }}
    {{ render_submit("Recovery") }}
    <input type="hidden" name="big_fat_csrf_token" value="{{user.big_fat_csrf_token}}">
</form>
{% endblock %}
